body {
  background:#ccc;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header a:hover{
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hook_page{
  margin-top:100px;
}

#create-hook{
  margin-top:100px;
}

#create-place{
  margin-top:10%;
}

#places{
  margin-top:100px;
}


#places_joined{
  margin-top:10%;
}

#change-password{
  margin-top:10%;
}

#filter-by-date{
  margin-left:10%;
  margin-right:25px;
}

#bg-img{
  background-image:url('./bg-image2.jpg');
  background-repeat: no-repeat;
  min-height: 300px;
  background-size: 100%;


}

#how-it-works{
  border: 5px solid white;
}

#intro{
  margin-top:1%;
}

#app-name{
  font-family: 'Pacifico', cursive;
}

#sign-up{
  margin-top:10%;

}

#sign-in{
  margin-top:10%;
}

#places_to_join{
  margin-top:10%;
}

#menu-anchor a:link, a:visited {
  background-color: #343A40;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#menu-anchor{
  margin-top:2px;
}

#menu-anchor a:active {
  background-color:white;
}

#menu-anchor ul li{
  margin:1px 1px 1px 1px;

}

#edit_delete_hook{
  margin-right:20px;
}

#delete_place{
  color:red;
}

#edit_form{
  margin-left: 50px;
  margin-right: 50px;
}

#accept_transaction{
  margin-top:10%;

}

#set_fun_limit{
  margin-top:10%;
}

#transaction_code{
  margin-left:25%;
  color: white;
}

#display_fun{
  margin-top:2%;
}

#show_transaction_history{
  margin-top:2%;
}

#my_transactions{
  margin-top: 10%;
}

#confirm_transaction_code{
  margin-top:10%;
}

#processed{
  color:green;
  
}