:root{
  font-size: 20px;
}

body,html {
  background:#ccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header{ 
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hook_page{
  margin-top:100px;
}

#create-hook{
  margin-top:100px;
}

#create-place{
  margin-top:10%;
}

#places{
  margin-top:100px;
}


#places_joined{
  margin-top:40%;
}

#change-password{
  margin-top:10%;
}

#filter-by-date{
  margin-left:10%;
  margin-right:25px;
}

#bg-img{
  background-image:url('./bg-image2.jpg');
  background-repeat: no-repeat;
  min-height: 300px;
  background-size: 100%;
}

#how-it-works{
  border: 5px solid white;
}

#intro{
  margin-top:1%;
}

#app-name{
  font-family: 'Pacifico', cursive;
}

#sign-up{
  margin-top:10%;

}

#sign-in{
  margin-top:10%;
}

#places_to_join{
  margin-top:10%;
}

#menu-anchor a:link, a:visited {
  background-color: #343A40;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#menu-anchor{
  margin-top:2px;
}

#menu-anchor a:active {
  background-color:white;
}

#menu-anchor ul li{
  margin:1px 1px 1px 1px;

}

#edit_delete_hook{
  margin-right:20px;
}

#delete_place{
  color:red;
}

#edit_form{
  margin-left: 50px;
  margin-right: 50px;
}

#accept_transaction{
  margin-top:10%;

}

#set_fun_limit{
  margin-top:10%;
}

#transaction_code{
  margin-left:25%;
  color: white;
}

#display_fun{
  margin-top:2%;
}

#show_transaction_history{
  margin-top:2%;
}

#my_transactions{
  margin-top: 10%;
}

#confirm_transaction_code{
  margin-top:10%;
}

#processed{
  color:green;
  
}

#space-card{
  margin-top:10px;
}

#center-basic{
  margin-top: 10%;
}

#center-standard{
  margin-top:10%;
}

#btn-standard-plan{
  margin-top: 40%;
}

#btn-basic-plan{
  margin-top: 60%;
}

#ofatri-balance{
  margin-top: 10%;
}

.section{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));

}


.banner{
  grid-column: 1/12;
  grid-row: 1;
  background:url('./bg-image2.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  padding-top:8rem;
  padding-bottom:8rem;
  
}

.banner-text{
  grid-column: 2/9;
  grid-row: 1;
  font-size: 1.4em;
  text-align: center;
  margin-top: 15%;
}

.banner-text h3{
  color:rgba(1, 41, 34, 0.856);
}


.banner-text button{
  margin-top: 10px;
  width: 200px;
  height: 50px;
}

#begin-here{
  background-color:#343A40;
  color: white;
}

#plans{
  background-color: #ff22cc
}

.first-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  margin: 5%;
  background-color: #343A40;
}

.first-body-items{
  grid-column: 1/12;
  grid-row: 1;
}

.first-body-item{
  display: flex;
  flex-wrap:wrap;
}

.first-note-pic{
  flex:1 1 auto;
  background: url('bg-image.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size: 100%;
  width: 400px;
  height: 300px;
}

.first-note{
  color: white;
  margin: auto;
}

.first-note>div{
  flex:1 1 auto;
  width: 400px;
}

.second-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  margin: 5%;
  background-color: hsl(250, 69%, 90%);
}

.second-body-text1{
  grid-column: 2/10;
  grid-row: 1;
  text-align:center;
}

.second-body-pic1{
  grid-column: 1/12;
  grid-row:2;
}

.offers{
  display: flex;
  flex-wrap:wrap;
}

.offers>div{
flex:1 1 auto;
border-radius: 50px;
width: 200px;
height: 200px;
border: 2px solid white;
background-color: #343A40;
color: white;
padding-top:70px ;
text-align: center;

}

.second-body-text2{
  grid-column:10/12;
  grid-row:3;
  margin: 2px;
}

.third-body{
  display:grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  margin: 5%;
  background-color:#343A40;
  border: 3px solid white;
  border-style: ridge;
}

.third-body-text1{
  grid-column: 1/12;
  grid-row:1/2;
  text-align: center;
  padding: 10px;
  color:white;
}

.third-body-step{
  grid-column: 1/12;
}

.steps{
  display:flex;
  justify-content: space-between;
  color: #ccc;
}

.steps>div:nth-child(2){
  flex:1 1 auto !important;
  margin:5% !important;
  align-self:center;
}

.step{
  display: none;
}

.steps>div:nth-child(3){
flex:1 1 auto !important;
margin:5% !important;
text-align:center 
}

.third-body-text2{
  grid-column: 10/12;
  color: white;
}

.fourth-body{
  display:grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(4,minmax(1fr));
  margin: 5%;
  background-color: #DAD4F7
}

.fourth-body-headline{
  grid-column: 1/12;
  grid-row: 1;
  text-align:center;
}

.fourth-body-text{
  grid-column: 1/12;
  grid-row:2;
  text-align:center;
}

.fourth-body-button{
  grid-column:1/12;
  grid-row: 3;
  text-align:center;
  
}

.fourth-body-button>button{
  width: 450px;
  height: 100px;
  background-color: #343A40;
  color:white;
  font-size:1.4em;
}

.fifth-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  margin: 5%;
  background-color: #DAD4F7;
}

.fifth-body-headline{
  padding: 10px;
  grid-column:1/12;
  grid-row:1;
  text-align:center;
  color: white;
}

.fifth-body-text{
  grid-column: 1/12;
  grid-row:2;
  text-align:center;
}

.fifth-body-logo{
  display: flex;
  flex-wrap:wrap;
}

.fifth-body-logo>div{
  flex:1 1 auto;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  background-color: #343A40;
  color:white;
  padding-top: 70px;
  font-size:1em;
}

.fifth-body-more{
  grid-column: 10/12;
  grid-row:3;
  text-align: center;
  padding:10px;
}

.sixth-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(2,minmax(1fr));
  background-color: #aaa;
}

.sixth-body-items{
  grid-column: 1/12;
  grid-row:1;
  margin: 2%;

}

.sixth-body-contacts{
  display: flex;
  justify-content: space-between;
}

.sixth-body-address{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: whitesmoke;
}

.sixth-body-socials{
  display: flex;
  flex-direction:column;
  color: whitesmoke;
}

.sixth-body-copy{
  grid-column: 1/12;
  grid-row:2;
  text-align: center;
  color: white;
  margin:2%;
}

.signup{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup-section{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows:repeat(1,minmax(1fr));
}

.signup-banner{
  grid-column:1/12;
  grid-row: 1;
  background-image: url('./bg-image2.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-size:100%;
}

.signup-banner-text{
  grid-column: 3/9;
  grid-row: 1;
  font-size: 1.4em;
  text-align: center;
  margin-top: 15%;
}

.signup-banner-text h3{
  color:rgba(1, 41, 34, 0.856);
}


.login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-section{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows:repeat(1,minmax(1fr));
}

.login-banner{
  grid-column:1/12;
  grid-row: 1;
  background-image: url('./bg-image2.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-size:100%;
}

.login-banner-text{
  grid-column: 3/9;
  grid-row: 1;
  font-size: 1.4em;
  text-align: center;
  margin-top: 15%;
}

.login-banner-text h3{
  color:rgba(1, 41, 34, 0.856);
}

.goal-container{
  display:grid;
  grid-template-columns:repeat(12,minmax(1fr));
  grid-template-rows: repeat(3,minmax(1fr));
  margin: 5%;
}

.grid-controls{
  grid-column: 1/12;
  grid-row:1;
  background-color: #DAD4F7;
  flex:1 1 1200px;
}

.grid-control{
  display: flex;
  justify-content: space-between;
  font-size:1em;
}

.goal-types{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  grid-template-rows: subgrid;
  column-gap: 5px;
  row-gap:5px;
  margin:5%;


}

.goal-type{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-self: center;
  align-items:center;
  border-radius: 50px;
  border:2px solid;
  width: 200px;
  height:200px;
  padding: 10px;
  cursor:pointer;
  margin:auto;
}

.goal-type #goal{
  font-size:1em;
  color:white;
  font:sans-serif comic helvetica;
}



















@media only screen and (max-width:700px) and (min-width:360px){

  body,html{
    width:fit-content;
  }
  .section{
    display: grid;
    grid-template-columns: repeat(12,minmax(1fr));
    grid-template-rows: repeat(5,minmax(1fr));
  }

  .banner{
  grid-column: 1/12;
  grid-row: 1/5;
  background: url('./bg-image2.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: 100%;
  
}

.banner-text{
  padding:10px;
  grid-column: 3/9;
  grid-row: 1/5;
  color: hsl(250, 69%, 98%);
  font-size: 0.9em;
  text-align:center;
}

.banner-text h3{
  font-size:1.2em;
}

.banner-text button{
  margin-top: 10px;
  width: 150px;
  height: 30px;
}

.first-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows:repeat(4,minmax(1fr));
  background-color:#343A40;
}

.first-body-items{
  grid-column: 1/12;
  grid-row:1/auto;
}

.first-body-item{
  display: flex;
  flex:wrap;

}

.first-note-pic{
  flex:1 1 350px;
  background-image: url('bg-image.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
}

.first-note{
  color: white;
  margin: auto;
}

.first-note>div{
  flex:1 1 300px;
  text-align:center;
}

.second-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(4,minmax(1fr));
  background-color: #DAD4F7;
}

.second-body-text1{
  grid-column: 1/12;
  grid-row: 1;
  text-align: center;
}

.second-body-pic1{
  grid-column:1/12;
  grid-row:2;
}

.offers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-body-text2{
  grid-column:10/12;
  grid-row:3;
  text-align: center;
}


.third-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  background-color: #343A40;
  width:auto;
}

.third-body-text1{
  grid-column: 1/12;
  grid-row:1/2;
  text-align: center;
  color: white;
  padding: 10px;
}

.third-body-step{
  grid-column: 1/12;
}

.steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.steps>div:nth-child(2){
  margin:2% !important;
}

.steps>div:nth-child(3){
  margin:2% !important;
}

.steps>div:first-child{
  display: block;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: 2px solid #DAD4F7;
  background-color:white;
  color: #343A40;
  text-align:center;
  font-size:1.2rem;
  padding-top:5%;

}



.third-body-text2{
  grid-column: 10/12;
  color:white;
}

.fourth-body{
  display:grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  background-color: #DAD4F7
}

.fourth-body-headline{
  grid-column: 1/12;
  grid-row: 1;
  text-align:center;
}

.fourth-body-text{
  grid-column:1/12;
  flex:1 1 auto;
  text-align:center
}

.fourth-body-button{
  grid-column:1/12;
  flex:1 1 auto;
  text-align:center; 
}

.fourth-body-button>button{
  flex:1 1 30ch;
  height: 100px;
  background-color: #343A40;
  color:white;
  font-size:1.4em;
}


.fifth-body{
  display: grid;
  grid-template-columns: repeat(12,minmax(1fr));
  grid-template-rows: repeat(5,minmax(1fr));
  background-color: #DAD4F7;
}

.fifth-body-headline{
  grid-column: 1/12;
  grid-row: 1;
  text-align: center;
  color: whitesmoke;
}

.fifth-body-text{
  grid-column: 1/12;
  grid-row: 2;
}
.fifth-body-logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.fifth-body-logo>div{
margin:5px;
}

.fifth-body-more{
  grid-column: 10/12;
  text-align: center;
}

  
}